
.cards{
	width: 100%;
	text-align: center;
	margin: 20px 0;
}

.card{
	margin: 0 auto;
	display: inline-block;
	margin: 15px;
}	

#outer-card{
	padding:15px;
	background: gold;
	width: 300px;
	height: 400px;
	font-size: 20px;
    font-family: "News Cycle","Arial Narrow Bold",sans-serif;
    font-weight: 700;
    box-shadow: 1px 1px 1px grey;
    border-radius: 15px;
}

.card_back{
    box-shadow: 2px 3px 2px grey;
    border-radius: 15px;
}

.card_back:hover{
	box-shadow: 10px 10px 10px grey;
}

.card_back:active{
    box-shadow: 2px 3px 2px grey;
}

#inner-card{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	/*top: 50%;
	transform: translateY(-50%);
	*/
	background: #00ffff;
	height: 100%;
	width: 100%;
}

#title{
    float: left;
    padding-top: 10px;
    padding-left: 10px;
    /*margin-left: 10px;
    margin-top: 10px;*/
}

#hp{
    float: right;
    padding-right: 10px;
    padding-top: 10px;
}

#image{
	margin-left: auto;
	margin-right: auto;
/*	padding: 0px 5px 0px 5px;*/
	position: relative;
	top: 10%;
	transform: translateY(-10%);
	background: url(../img/Overgrown_Forest.png);
	background-size: 250px 150px;
	width: 250px;
	height: 150px;
    border-style: outset;
    border-color: gold;
    overflow: hidden;
    vertical-align: bottom;
}

.small{
	width: 25px;
	height: 27px;
}

.large{
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 10px;
	width: auto;
	height: 100%;
	display: block;
}

.moveList{
    position: relative;
	top: 20%;
	transform: translateY(-20%);
	width:100%;
	padding: 0px 5px 10px 5px;
}

.move{
	font-size: 18px;
    float: left;
    margin-left: 20px;
}

.movePoints{
	font-size: 18px;
    float: right;
    margin-right: 10px;
}