<!DOCTYPE html>
<html lang="en">

  {% extends "navbar.html" %}

  {%block content%}
  <script src="{{ url_for('static', filename='../static/scripts/displayTests.js') }}"></script>


    <div class="container">
    {% for person in group %}
      <div class="well well-lg">
        <div class="container-fluid">
          <div class="col-md-3">
            <img src={{person.pic}} height="222" width="222">
          </div>
          <div class="col-md-8">
            <h4>{{person.name}}</h4>
            <h5>{{person.bio}}</h5>

            <!-- >>git shortlog -s -n --all << returns commits for all authors-->
          </div>

          <div class="col-md-9">
            <div class="col-md-4">commits: {{person.commits}}</div>
            <div class="col-md-4">issues: {{person.issues}}</div>
            <div class="col-md-4">unit tests: {{person.unittests}}</div>
          </div>

        </div>
      </div>
      {% endfor %}

      

      <div class="well well-lg">
        <div class="container-fluid">
          <div class="col-md-12">
            <div class="col-md-4">
              <h4>Statistics</h4>
                <p> total commits: 176 </p> <!-- >> git rev-list --all --count <<returns total commits-->
                <p> total issues: 36</p>
                <p> total no. of unit tests: 10</p>
                <p><a href="http://docs.ildb12.apiary.io/#reference">Apiary API</a></p>
                <p><a href="https://github.com/eafurlan/cs373-idb/issues"> GitHub Issue Tracker</a></p>
                <p><a href="https://github.com/eafurlan/cs373-idb/"> GitHub Repo</a></p>
                <p><a href="https://github.com/eafurlan/cs373-idb/wiki">GitHub Wiki</a></p>
            </div>
            <div class="col-md-4">
              <h4>Data</h4>
                <p>We created a Python web scraper to gather information about each legislator and bill in <a href="https://www.govtrack.us/">GovTrack's</a> database. We gathered specific keys and values from their data, and stored it in JSON format (using python's json library). In our scraper, we used an open source module called <a href="http://docs.python-requests.org/en/master/#">request</a> that allowed us to easily access GovTrack's API. </p>
            </div>
            <div class="col-md-4">
              <h4>Tools</h4>
                <div class="col-md-4">
                  <a href="http://angularjs.org/">AngularJS</a><br>
                  <a href="http://apiary.io/">Apiary </a><br>
                  <a href="http://getbootstrap.com/">Bootstrap</a></br>
                  <a href="https://getcarina.com/">Carina </a></br>
                  <a href="https://pypi.python.org/pypi/coverage/3.7.1/">Coverage </a></br>
                  <a href="https://www.docker.com/">Docker </a></br>
                  <a href="http://flask.pocoo.org/">Flask </a></br>
                  <a href="http://www.git-scm.com/">Git</a></br>
                  <a href="https://education.github.com/">GitHub</a></br>
                  <a href="https://jquery.com/">jQuery </a></br>

                </div>
                <div class="col-md-5">
                  <a href="https://www.google.com/calendar">Google Calendars</a></br>
                  <a href="https://namecheap.com/‎">NameCheap </a></br>
                  <a href="http://pydoc.org/">pydoc </a></br>
                  <a href="https://www.rackspace.com/">Rackspace </a></br>
                  <a href="http://docs.python-requests.org/">Requests</a></br>
                  <a href="https://slack.com/">Slack </a></br>
                  <a href="https://travis-ci.com/">Travis CI </a></br>
                  <a href="https://docs.python.org/3.4/library/unittest.html">unittest </a></br>
                  <a href="http://yuml.me/">yUML </a></br>
                </div>
                <div class="col-md-3">
                  <a href="http://www.sqlalchemy.org/">SQLAlchemy</a>
                  <a href="http://flask-restful.readthedocs.org/en/0.3.5/">Flask-RESTful</a>
                  <a href="http://gunicorn.org/">gUnicorn</a>
                </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Tests -->
    <div id="tests" class="well">
      <div class="container-fluid">
        <h4>Run Our Unit Tests:</h4>
        <h4>
          <button type="button" id="unitTestButton" class="btn btn-primary">Run</button>
        </h4>
          <pre class="alert" id="unitTestAlert" role="alert">
           

          </pre>
          
      </div>
    </div>

  </div>
    
    {% endblock %}

</html>