<!DOCTYPE html>
<html lang="en">

  {% extends "navbar.html" %}

  {%block content%}

    <!-- Breadcrumb -->
    <ol class="breadcrumb">
      <li><a href="index.html">Home</a></li>
      <li class="active">About Us</li>  
    </ol>

    <div class="container">
      <!-- Example Person -->
      <div class="well well-lg">
        <div class="container">
          <div class="col-md-3">
            <img src="RoyBlunt.jpeg" class="img-responsive img-thumbnail center-block" alt="Roy Blunt">
          </div>
          <div class="col-md-9">
            <h4>Example Guy</h4>
            <h5>Example likes reading, dancing, and long walks on the beach. He did ABSOLUTELY NOTHING for this project.</h5>
          </div>
        </div>
      </div>

      <!-- Example Person -->
      <div class="well well-lg">
        <div class="container">
          <div class="col-md-3">
            <img src="RoyBlunt.jpeg" class="img-responsive img-thumbnail center-block" alt="Roy Blunt">
          </div>
          <div class="col-md-9">
            <h4>Example Guy</h4>
            <h5>Example likes reading, dancing, and long walks on the beach. He did ABSOLUTELY NOTHING for this project.</h5>
          </div>
        </div>
      </div>

      <!-- Example Person -->
      <div class="well well-lg">
        <div class="container">
          <div class="col-md-3">
            <img src="RoyBlunt.jpeg" class="img-responsive img-thumbnail center-block" alt="Roy Blunt">
          </div>
          <div class="col-md-9">
            <h4>Example Guy</h4>
            <h5>Example likes reading, dancing, and long walks on the beach. He did ABSOLUTELY NOTHING for this project.</h5>
          </div>
        </div>
      </div>

      <!-- Example Person -->
      <div class="well well-lg">
        <div class="container">
          <div class="col-md-3">
            <img src="RoyBlunt.jpeg" class="img-responsive img-thumbnail center-block" alt="Roy Blunt">
          </div>
          <div class="col-md-9">
            <h4>Example Guy</h4>
            <h5>Example likes reading, dancing, and long walks on the beach. He did ABSOLUTELY NOTHING for this project.</h5>
          </div>
        </div>
      </div>

      <!-- Example Person -->
      <div class="well well-lg">
        <div class="container">
          <div class="col-md-3">
            <img src="RoyBlunt.jpeg" class="img-responsive img-thumbnail center-block" alt="Roy Blunt">
          </div>
          <div class="col-md-9">
            <h4>Example Guy</h4>
            <h5>Example likes reading, dancing, and long walks on the beach. He did ABSOLUTELY NOTHING for this project.</h5>
          </div>
        </div>
      </div>
    </div>

    {% endblock %}

</html>