<!DOCTYPE html>
<html lang="en">
  
  {% extends "navbar.html" %}

  
  {% block content %}
  <script src="{{ url_for('static', filename='../static/scripts/sortBills.js') }}"></script>
  <script src="{{ url_for('static', filename='../static/scripts/clickable.js') }}"></script>
  <script src="{{ url_for('static', filename='../static/scripts/dirPagination.js') }}"></script>
   
	<div class="container-fluid" ng-app="sortApp" ng-controller="mainController">
    <div ng-show="loading" class=" container-fluid" >
      <img src="{{url_for('static', filename='../static/img/loadbills.gif')}}" style="margin-left:auto; margin-right: auto; display: block;"> <h4 align="center" class="text-muted"> Congress is working on it. This may take a while...</h4></img> 
    </div>
    <div class="table-responsive col-md-9" ng-hide="loading">
      <table class="table table-bordered table-hover">

        <thead>
          <tr>
            <th ng-click="sort('id')"><a href="">ID</a>
              <span class="glyphicon sort-icon" ng-show="sortKey=='id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>
            <th ng-click="sort('name')"><a href="">Title</a>
              <span class="glyphicon sort-icon" ng-show="sortKey=='name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>
            <th ng-click="sort('current_status')"><a href="">Status</a>
              <span class="glyphicon sort-icon" ng-show="sortKey=='current_status'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>
            <th ng-click="sort('bill_type')"><a href="">Type</a>
              <span class="glyphicon sort-icon" ng-show="sortKey=='bill_type'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>
            <th ng-click="sort('date')"><a href="">Date</a>
              <span class="glyphicon sort-icon" ng-show="sortKey=='date'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>
          </tr>
        </thead>

        <tbody>

        <!-- {% raw %} -->

          <tr dir-paginate="roll in bills | orderBy:sortKey:reverse | filter:search | itemsPerPage:10" ng-click="makeLink();">
            <td>{{ roll.id }}</td>
            <td>{{ roll.name }}</td>
            <td>{{ roll.current_status }}</td>
            <td>{{ roll.bill_type }}</td>
            <td>{{ roll.date }}</td>
          </tr>

        <!-- {% endraw %} -->

        </tbody>
      </table>

      <dir-pagination-controls max-size="10" direction-links="true" boundary-links="true">
      </dir-pagination-controls>

    </div>

    <div class="container col-md-3" ng-hide="loading">
      <div class="input-group">
        <input type="text" ng-model="search" class="form-control" placeholder="Search Bills">
      </div>
    </div>
    
  </div>

  {% endblock %}
    
</html>