<!doctype html>
<html lang="en">

{% extends "navbar.html" %}

{% block content %}
  <script src="{{ url_for('static', filename='scripts/toggle.js') }}"></script>

	<div class="container-fluid col-md-4">
      <h1 style="text-align: center;">{{person.firstname}} {{person.lastname}}</h1>
      <img src="{{person.photo_link}}" class="img-responsive img-thumbnail center-block" alt="{{person.firstname}} {{person.lastname}}">
      <h4 style="text-align: center;">
        {% if person.party == 'Democrat' %}
          {{person.party}}ic {{person.description}}
        {% else%}
          {{person.party}} {{person.description}}
        {% endif %}
      </h4>
    </div>

    <div class="container-fluid col-md-4" ng-app="toggleApp" ng-controller="mainController">
      
      <h4><div class="text-muted">Start Date: </div>{{person.start_date}}</h4>

      {% if sponsored_bill_association != None %}

      <h4>

        <div class="text-muted" data-toggle="collapse" role="button" data-target="#sponsored" title="{{person.firstname}} {{person.lastname}} was the first legislator to introduce these bills for consideration." ng-click="sponsor_collapsed = !sponsor_collapsed">
          Bills Sponsored
          <span ng-show="sponsor_collapsed" class="glyphicon glyphicon-chevron-down"></span>
          <span ng-show="!sponsor_collapsed" class="glyphicon glyphicon-chevron-up"></span>
        </div>

        <div id="sponsored" class="collapse">
        {% for bill in sponsored_bill_association%}
        <a href="/bills/{{bill.bill_id}}">{{bill.bill_id}},</a>
        {% endfor %}
        </div>

      </h4>
      {% endif %}

      {% if cosponsored_bill_association%}
      <h4><div class="text-muted"  data-toggle="collapse" role="button" data-target="#cosponsored" title="{{person.firstname}} {{person.lastname}} supports these bills" ng-click="cosponsor_collapsed = !cosponsor_collapsed">
        Bills Cosponsored
          <span ng-show="cosponsor_collapsed" class="glyphicon glyphicon-chevron-down"></span>
          <span ng-show="!cosponsor_collapsed" class="glyphicon glyphicon-chevron-up"></span>
        </div>
        <div id="cosponsored" class="collapse">
          {% for bill in cosponsored_bill_association%}
          <a href="/bills/{{bill.bill_id}}">{{bill.bill_id}},</a>
          {% endfor %}
        </div>
        

      {% endif %}

      {% if person.website %}
      <h4><div class="text-muted">Website: </div><a href={{person.website}}>{{person.website}}</a></h4>
      {% endif %}

      {% if person.youtube != None %}
      <h4><div class="text-muted">Youtube: </div><a href="http://www.youtube.com/{{person.youtube}}">{{person.youtube}}</a></h4>
      {% endif %}
      



	</div>
  {% if person.twitter != None %}
      <div class="container col-md-4" >
        <a class="twitter-timeline" href="https://twitter.com/{{person.twitter}}" data-screen-name="{{person.twitter}}"  data-height="500" >Tweets by @{{person.twitter}}</a>
        <script>
          ! function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
              p = /^http:/.test(d.location) ? 'http' : 'https';
            if (!d.getElementById(id)) {
              js = d.createElement(s);
              js.id = id;
              js.src = p + "://platform.twitter.com/widgets.js";
              fjs.parentNode.insertBefore(js, fjs);
            }
          }(document, "script", "twitter-wjs");
        </script>
      </div>
      
      {% endif %}
{% endblock %}

