<!doctype html>
<html lang="en">

{% extends "navbar.html" %}

{% block content %}
	<div class="container-fluid col-md-6">
      <h1 style="text-align: center;">{{person.firstname}} {{person.lastname}}</h1>
      <img src="{{person.photo_link}}" class="img-responsive img-thumbnail center-block" alt="{{person.firstname}} {{person.lastname}}">
      <h4 style="text-align: center;">{{person.party}} {{person.description}}</h4>
    </div>

    <div class="container-fluid col-md-6">
      
      <h4><div class="text-muted">Start Date: </div>{{person.start_date}}</h4>

      {% if sponsored_bill_association != None %}
      <h4><div class="text-muted">Bills Sponsored: </div>


        {% for bill in sponsored_bill_association%}
        <a href="/bills/{{bill.bill_id}}">{{bill.bill_id}}</a>
        {% endfor %}
      </h4>
      {% endif %}

      {% if cosponsored_bill_association != None %}
      <h4><div class="text-muted">Bills Cosponsored: </div>
      {% endif %}

      <h4><div class="text-muted">Website: </div><a href={{person.website}}>{{person.website}}</a></h4>
      
      {% if person.youtube != None %}
      <h4><div class="text-muted">Youtube: </div><a href="http://www.youtube.com/{{person.youtube}}">{{person.youtube}}</a></h4>
      {% endif %}
      
      {% if person.twitter != None %}
      <h4><div class="text-muted">Twitter: </div><a href="http://www.twitter.com/{{person.twitter}}">@{{person.twitter}}</a></h4>
      {% endif %}


	</div>
{% endblock %}

