<!DOCTYPE html>
<html lang="en">
  
  {% extends "navbar.html" %}

  
  {% block content %}
    <script src="{{ url_for('static', filename='scripts/sortPeople.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/clickable.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/dirPagination.js') }}"></script>

    <!-- Table -->
    <div class="container-fluid" ng-app="sortApp" ng-controller="mainController">
      <div ng-show="loading" class=" container-fluid" >
      <img src="{{url_for('static', filename='../static/img/loadleg.gif')}}" style="margin-left:auto; margin-right: auto; display: block;"><h4 align="center" class="text-muted"> Congress is working on it. This may take a while...</h4></img> 
    </div>
      <div class="table-responsive col-md-9" ng-hide="loading">
        <table class="table table-bordered table-hover">

          <thead>
            <tr>
              <th ng-click="sort('id')"><a href="">Id</a>
                <span class="glyphicon sort-icon" ng-show="sortKey=='id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
              <th ng-click="sort('firstname')"><a href="">First Name</a>
                <span class="glyphicon sort-icon" ng-show="sortKey=='firstname'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
              <th ng-click="sort('lastname')"><a href="">Last Name</a>
                <span class="glyphicon sort-icon" ng-show="sortKey=='lastname'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
              <th ng-click="sort('title')"><a href="">Title</a>
                <span class="glyphicon sort-icon" ng-show="sortKey=='title'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
              <th ng-click="sort('party')"><a href="">Party</a>
                <span class="glyphicon sort-icon" ng-show="sortKey=='party'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
              <th ng-click="sort('start_date')"><a href="">Start Date</a>
                <span class="glyphicon sort-icon" ng-show="sortKey=='start_date'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
              <th ng-click="sort('state')"><a href="">State</a>
                <span class="glyphicon sort-icon" ng-show="sortKey=='state'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
                                  
            </tr>
          </thead>

          <tbody>
            <!-- {% raw %} -->
            <tr dir-paginate="roll in people | orderBy:sortKey:reverse | filter:search | itemsPerPage:10" ng-click="makeLink();">
            <td>{{ roll.id }}</td>
              <td>{{ roll.firstname }}</td>
              <td>{{ roll.lastname }}</td>
              <td>{{ roll.title }}</td>
              <td>{{ roll.party }}</td>
              <td>{{ roll.start_date }}</td>
              <td>{{ roll.state }}</td>
            </tr>
            <!-- {% endraw %} -->
          </tbody>
        </table>

        <dir-pagination-controls max-size="10" direction-links="true" boundary-links="true" >
        </dir-pagination-controls>

      </div>



      <div class="container col-md-3" ng-hide="loading">
        <div class="input-group">
          <input type="text" ng-model="search" class="form-control" placeholder="Search Legislators">
          </span>
        </div>
      </div>

    </div>

  {% endblock %}

</html>