<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>ILDb</title>

    <!-- Bootstrap -->
   <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <!-- CSS files -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/video.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="../static/scripts/navbar.js"></script>

  </head>

<!-- Static navbar -->
  <body>
      <nav class="navbar navbar-default" ng-controller="HeaderController">
        <div class="container-fluid">

          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" ng-class="{ active: isActive('/')}" href="/">ILDb</a>
          </div>

          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li ng-class="{ active: isActive('/legislators')}"><a href="/legislators.html">Members of Congress</a></li>
              <li ng-class="{ active: isActive('/bills')}"><a href="/bills.html">Bills</a></li>
              <li ng-class="{ active: isActive('/search')}"><a href="/everyone.html">Search</a></li>
  
            </ul>
            
            <ul class="nav navbar-nav navbar-right">
              <li  ng-class="{ active: isActive('/about')}"><a href="/about.html">About Us</a></li>
            </ul>

          </div>
        </div>
      </nav>
      <div ng-view></div>

    <!-- Actual Content -->
    <div id="content">{% block content %}{% endblock %}</div>

    <!-- Footer -->
    <footer class="footer">
        <div class="container-fluid col-lg-12">
          <h5 class="text-center text-primary"><a href="/about.html">SWESquad</a></h5>
        </div>
    </footer>
  </body>
</html>