<!DOCTYPE html>
<html lang="en">
  
  {% extends "navbar.html" %}

  
  {% block content %}

    <!-- Table -->
    <div class="container-fluid">
      <table class="table table-bordered table-hover table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Title</th>
            <th>Party</th>
            <th>Start Date</th>
            <th>State</th>
            <th>Legislation</th>
            <th>Website</th>
            <th>Youtube</th>
            <th>Twitter</th>
          </tr>
        </thead>
        <tbody>
          <tr class="clickable-row" data-href="people/412378">
            <th>412378</th>
            <th>Franken</th>
            <th>Alan</th>
            <th>Senator</th>
            <th>Democrat</th>
            <th>1951-05-21</th>
            <th>MN</th>
            <th><a href="#">#####</a></th>
            <th><a href="http://www.franken.senate.gov">http://www.franken.senate.gov</a></th>
            <th><a href="http://www.youtube.com/SenatorFranken">SenatorFranken</a></th>
            <th></th>
          </tr>

          <tr class="clickable-row" data-href="people/412542">
            <th>412542</th>
            <th>Elizabeth</th>
            <th>Warren</th>
            <th>Senator</th>
            <th>Democrat</th>
            <th>1949-06-22</th>
            <th>AR</th>
            <th><a href="127130.html#">127130</a></th>
            <th><a href="http://www.warren.senate.gov">http://www.warren.senate.gov</a></th>
            <th><a href="http://www.youtube.com/senelizabethwarren">senelizabethwarren</a></th>
            <th><a href="http://www.twitter.com/SenWarren">@SenWarren</a></th>
          </tr>

          <tr class="clickable-row" data-href="people/400054">
            <th>412247</th>
            <th>Sheldon</th>
            <th>Whitehouse</th>
            <th>Senator</th>
            <th>Democrat</th>
            <th>1955-10-20</th>
            <th>RI</th>
            <th><a href="#">#####</a></th>
            <th><a href="http://www.whitehouse.senate.gov/">http://www.whitehouse.senate.gov/</a></th>
            <th><a href="http://www.youtube.com/SenatorWhitehouse">SenatorWhitehouse</a></th>
            <th><a href="http://www.twitter.com/SenWhitehouse">@SenWhitehouse</a></th>
            <th></th>
          </tr>
        </tbody>
      </table>
    </div>

    <script type="text/javascript">jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.document.location = $(this).data("href");
    });
});</script>
  {% endblock %}
    



</html>