<!DOCTYPE html>
<html lang="en">
  
  {% extends "navbar.html" %}

  
  {% block content %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/pokemon.css') }}">

  <script src="{{ url_for('static', filename='../static/scripts/pokeLoader.js') }}"></script>
  <script src="{{ url_for('static', filename='../static/scripts/ui-bootstrap-1.3.2.min.js') }}"></script>

  <div class="container-fluid" ng-app="pokeApp" ng-controller="mainController">
      <img ng-click="draw()" src="../static/img/card.png" height="400px" width="300px">
      <div id="card" class="img-rounded">
        <div id="inner-card">
          <div>
            <span id="title">{{pokemon_name}}</span>
            <span id="hp">300 HP<span class="glyphicon glyphicon-certificate" aria-hidden="true"></span></span>
          </div>
          <div id="image">
          </div>
          <div id="moveList">
            <span id="move"><span class="glyphicon glyphicon-certificate" aria-hidden="true"></span> Super Attack</span>
            <span id="movePoints">+30</span>
          </div>
          <table class="bottomBar">
            <thead>
              <tr>
                <th>Weakness</th>
                <th>Resistance</th>
                <th>Retreat Cost</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><span class="glyphicon glyphicon-certificate" aria-hidden="true"></span></td>
                <td><span class="glyphicon glyphicon-certificate" aria-hidden="true"></span></td>
                <td><span class="glyphicon glyphicon-certificate" aria-hidden="true"></span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

  </div>

  {% endblock %}
    
</html>