<!DOCTYPE html>
<html lang="en">
  
  {% extends "navbar.html" %}

  
  {% block content %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/pokemon.css') }}">


  <script src="{{ url_for('static', filename='../static/scripts/clickable.js') }}"></script>
  <script src="{{ url_for('static', filename='../static/scripts/pokeLoader.js') }}"></script>
  
  <div class="container col-md-4">
    <div id="card" class="img-rounded">
      <div id="inner-card">
        <div>
          <span id="title">Pokemon Name</span>
          <span id="hp">300 HP<span class="glyphicon glyphicon-certificate" aria-hidden="true"></span></span>
        </div>
        <div id="image">
        </div>
        <div id="moveList">
          <span id="move"><span class="glyphicon glyphicon-certificate" aria-hidden="true"></span> Super Attack</span>
          <span id="movePoints">+30</span>
        </div>
        <table class="bottomBar">
          <thead>
            <tr>
              <th>Weakness</th>
              <th>Resistance</th>
              <th>Retreat Cost</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><span class="glyphicon glyphicon-certificate" aria-hidden="true"></span></td>
              <td><span class="glyphicon glyphicon-certificate" aria-hidden="true"></span></td>
              <td><span class="glyphicon glyphicon-certificate" aria-hidden="true"></span></td>
            </tr>
          </tbody>
        </table>
<!--         <div id="bottomBar">
          <span id="weakness" class="bottomBar">
            <div>Weakness</div>
            <div class="glyphicon glyphicon-certificate" aria-hidden="true"></div>
          </span>
          <span id="resistance" class="bottomBar">
            <div>Resistance</div>
            <div class="glyphicon glyphicon-certificate" aria-hidden="true"></div>
          </span>
          <span id="retreat" class="bottomBar">
            <div>Retreat Cost</div>
            <div class="glyphicon glyphicon-certificate" aria-hidden="true"></div>
          </span>
        </div> -->
      </div>
    </div>
  </div>

  </br>

  <div class="container col-md-8" ng-app="pokeApp" ng-controller="mainController">
    <div class="panel panel-default" ng-repeat="type in typenames">
      <div class="panel-heading">
        <h3 class="panel-title">{{type}} Pokemon</h3>
      </div>
      <div class="panel-body" ng-repeat="pokemon in pokemon_collection">
        <button class="btn btn-info" type="button">
          {{pokemon}}
        </button>
      </div>
    </div>
  </div>

  {% endblock %}
    
</html>